/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	padding: 0;
  	margin: 0;
  	max-width: 100%;
}

html {
	font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* My Styles */

/* Wrapper Styles */
.wrapper{
    background-color: #8a91a1;
    height: 100vh;
}

/* Header Styles */
.site-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-header nav{
    margin: 10px 0 10px 0;
}

.site-header nav ul{
    list-style: none;
}

.site-header nav ul li{
    display: inline-block;
    margin-right: 10px;
}

.site-header nav ul li a{
    color: #000000;
    font-size: 1.8em;
    text-decoration: none;
}

.logo{
    font-size: 2em;
    letter-spacing: 2px;
    margin: 10px 0 10px 10px;
}

/* Content Styles */
.content{
    background-color: #6b707c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

/* Navigation Styles */

/* Thank you for the positioning suggestion Ana! */
/* Example from https://stackoverflow.com/questions/12813573/position-icons-into-circle */
/* Modified by Darren Tebo */

.nav-container{
    position: relative;
    width: 400px;
    padding: 10px;
    border-radius: 50%;
    margin: auto 0;
}

.nav-container a{
    display: block;
    font-size: 2em;
    position: absolute;
    text-decoration: none;
    width: 6em;
    height: 6em;
    top: 32%;
    left: 50%;
    margin: -2em;
}

.top-center{
    transform: translate(0px, -150px);
}

.right-center{
    transform: translate(260px, 80px);
}

.nav-container img{
    display: block;
    border-radius: 50%;
    height: 360px;
    width: 420px;
}

.bottom-center{
    transform: translate(0px, 320px);
}

.left-center{
    transform: translate(-260px, 80px);
}

/* Footer Styles */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}

.address-info{
    color: #494949;
    font-size: 1.3em;
}